main div{
    margin:2em auto 1em;
    width:fit-content;
}
#content {
    margin: 0em auto;
}
form{
    width:50%;
    margin:auto;
    border:2px solid black;
    border-radius:25px;
    background-color:rgb()
}
form p{
    font-size:1.5rem;
    text-align:center;
    margin:1em 0 .5em;
}
form fieldset{
    margin:.5em .5em;
    border-radius:50px;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
}
form fieldset label, form label {
    font-size:1.1rem;
    flex-basis:calc(50% - 2em);
    display:flex;
    flex-direction:column;
    padding:.25em 1em;
}
form fieldset label input{
    font-size:1rem;
}
form button{
    display:flex;
    font-size:1.2rem;
    margin:1em auto;
}
.armor-form, .ammo-form {
    position: relative;
    width: 550px;
    margin: 1em auto;
    background-color: var(--special-color);
    border: 2.5px solid rgb(236, 190, 54);
    outline: 2px solid rgb(177, 136, 13);
    border-radius: 1em;
    box-shadow: 2px 2px 5px black, -2px -2px 3px black;
    z-index: 2;
}
.ammo-form fieldset label:is(:nth-of-type(1),:nth-of-type(8), :nth-of-type(9)){
    flex-basis: 100%;
}
.armor-form fieldset label:is(:nth-of-type(1), :nth-of-type(8)){
    flex-basis: 100%;
}